:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  color: #888;
  font-weight: 400;
  font-family: 'Hind', sans-serif;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all .15s ease-in-out;
}

a:focus {
  outline: none;
}

a:active {
  outline: none;
}

input {
  border: 0;
  outline: none;
}

input:focus {
  border: 0;
  outline: none;
}

input:active {
  border: 0;
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

img:active {
  outline: none;
}

svg {
  display: block;
  fill: #fff;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: normal;
}

.header__wrap {
  display: block;
}

.header__top {
  height: 42px;
  display: flex;
  align-items: center;
  background-color: #cba14c;
}

.header__top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 1.6rem;
}

.header__top-left svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.header__mail {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header__tel {
  display: flex;
  align-items: center;
}

.header__social {
  display: flex;
}

.header__social a {
  margin-left: 10px;
}

.header__social a:first-child {
  margin-left: 0;
}

.header__social a svg {
  height: 20px;
  width: 20px;
}

.header__social a svg:hover {
  fill: #1d1d1d;
}

.header__low {
  height: 85px;
}

.header__low .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__low-logo img {
  display: block;
  height: auto;
  max-width: 100%;
}

.nav {
  position: relative;
  z-index: 999;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  position: relative;
  z-index: 999;
  padding: 2px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #1d1d1d;
  text-transform: capitalize;
}

.nav__link:hover {
  color: #c28f15;
}

.nav__link:last-child {
  padding-right: 0;
}

.slider {
  height: 600px;
}

.slider__item {
  position: relative;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.slider__item-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.slider__item-suptitle {
  margin-bottom: 7px;
  font-size: 2.2rem;
  font-weight: 500;
}

.slider__item-subtitle {
  width: 60%;
  margin: 0 auto;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 68px;
}

.slider__item-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 37px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #fff;
  transition: all .15s ease-in-out;
}

.slider__item-btn:hover {
  background: #cba14c;
}

.about {
  padding: 100px 0;
}

.about .container {
  display: flex;
  align-items: center;
}

.about__left {
  padding-right: 35px;
  width: 60%;
}

.about__left-title {
  margin-bottom: 4rem;
}

.about__left-text {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
}

.about__left-link {
  padding: 13px 26px 12px;
}

.link {
  font-size: 17px;
  color: #727888;
  text-transform: uppercase;
  font-weight: 400;
  transition: all .15s ease-in-out;
  border: 1px solid #d5d6d8;
  box-shadow: 5px 5px 7px 0px rgba(205, 208, 212, 0.84);
}

.link:hover {
  background: #cba14c;
  color: #fff;
  border-color: #cba14c;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.title {
  font-family: 'Hind', sans-serif;
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 55px;
  color: #41424e;
}

.text {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #888;
}

.benefits {
  padding: 100px 0 80px;
  text-align: center;
}

.benefits__title {
  margin-bottom: 4rem;
}

.benefits__text {
  margin-bottom: 8rem;
  line-height: 28px;
  color: #727888;
  font-size: 22px;
}

.benefits__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits__block {
  width: 30.33%;
  margin-left: 3%;
  margin-bottom: 20px;
}

.benefits__block-title {
  margin-bottom: 13px;
  color: #41424e;
  font-size: 22px;
}

.benefits__block-link {
  display: block;
  margin-top: 30px;
}

.benefits__block-link .link {
  display: inline-block;
  padding: 8px 20px;
}

.slider__low {
  max-height: 518px;
}

.slider__low-item {
  display: flex;
  align-items: center;
  background-color: #effefe;
}

.slider__low-left,
.slider__low-right {
  width: 50%;
}

.slider__low-left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.slider__low-right {
  padding: 160px 40px 160px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__low-content {
  width: calc(100% - 180px);
  padding-left: 70px;
}

.slider__low-num {
  max-width: 180px;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 80px;
  color: #41424e;
  line-height: 1;
  border-right: 1px solid #c5c5c5;
}

.slider__low-title {
  margin: 0;
  color: #41424e;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.slider__low-text {
  margin-bottom: 20px;
}

.slider__low-link {
  display: block;
  margin-top: 30px;
}

.slider__low-link .link {
  display: inline-block;
  padding: 8px 20px;
}

.team {
  padding: 100px 80px;
  text-align: center;
}

.team__title {
  margin-bottom: 40px;
}

.team__text {
  margin-bottom: 80px;
  color: #727888;
  font-size: 22px;
}

.team__wrap {
  display: flex;
  align-items: center;
}

.team__block {
  width: 30.33%;
  margin-left: 3%;
  padding: 0;
  margin-bottom: 40px;
  box-shadow: 1px 4px 46px -2px rgba(0, 0, 0, 0.2);
}

.team__block-img {
  position: relative;
  overflow: hidden;
}

.team__block-img img {
  display: block;
}

.team__block-img:hover::before {
  width: 300%;
  height: 300%;
  top: -50%;
  left: -50%;
}

.team__block-img:hover {
  cursor: pointer;
}

.team__block-img:hover .team__block-icon {
  opacity: 0;
}

.team__block-img:hover .team__block-info {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.team__block-img::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  height: 0;
  width: 0;
  background: rgba(203, 161, 76, 0.8);
  transition: all ease-in-out 0.5s;
  z-index: 5;
}

.team__block-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  z-index: 4;
  transition: all .15s ease-in-out;
  transition-delay: .2s;
}

.team__block-icon::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  top: 21px;
  left: 25px;
  border-radius: 50%;
  background: rgba(203, 161, 76, 0.8);
  transition: all ease-in-out 0.5s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.team__block-icon::after {
  content: '+';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  background: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.team__block-text {
  margin-bottom: 10px;
  color: #fff;
}

.team__block-info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  padding: 0 10px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .15s ease-in-out;
  transition-delay: .2s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team__block-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__block-social a {
  margin-left: 20px;
}

.team__block-social a:hover svg {
  fill: #191919;
}

.team__block-social a:first-child {
  margin-left: 0;
}

.team__block-content {
  padding: 22px;
}

.team__block-name {
  margin: 0;
  text-transform: capitalize;
  font-size: 22px;
  color: #41424e;
  font-weight: 500;
}

.works {
  padding: 100px 0;
  background: #cba14c;
  text-align: center;
  color: #fff;
}

.works__col {
  width: 33.33%;
  padding: 0 30px 30px;
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #fff;
}

.works__col:first-child {
  border-left: none;
}

.works__suptitle {
  font-size: 80px;
  color: #fff;
}

.works__subtitle {
  margin-bottom: 13px;
  color: #fff;
  font-size: 22px;
}

.works__text {
  color: #fff;
}

.blog {
  padding: 100px 0;
  text-align: center;
}

.blog__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__title {
  margin-bottom: 40px;
}

.blog__text {
  margin-bottom: 80px;
  color: #727888;
  font-size: 22px;
}

.blog__item {
  width: 49%;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.blog__item-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.blog__item-img img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  transition: all .15s ease-in-out;
}

.blog__item-img:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.blog__item-content {
  padding: 20px 0 40px;
}

.blog__item-date {
  margin-bottom: 3px;
}

.blog__item-title {
  margin-bottom: 10px;
  color: #41424e;
  font-size: 24px;
}

.blog__item-text {
  margin-bottom: 50px;
}

.blog__link a {
  display: inline-block;
  padding: 13px 40px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #cba14c;
  background: #cba14c;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.blog__link a:hover {
  color: #cba14c;
  background: transparent;
}

.partners {
  padding: 100px 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.partners .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__top,
.footer__mid {
  background-color: #f4f4f4;
}

.footer__top {
  padding-top: 80px;
  padding-bottom: 45px;
}

.footer__top .container {
  display: flex;
  align-items: center;
}

.footer__top-col {
  width: 22%;
  margin-left: 3%;
  margin-bottom: 30px;
}

.footer__top-col:first-child {
  margin-left: 0;
}

.footer__top-col-title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #41424e;
  font-size: 14px;
  text-transform: uppercase;
}

.footer__top-col-text {
  color: #757575;
  font-size: 14px;
}

.footer__top-col-item {
  line-height: 24px;
}

.footer__top-col-link {
  color: #757575;
  font-size: 14px;
}

.footer__top-col-link:hover {
  color: #c28f15;
}

.footer__mid {
  padding: 40px 0;
  border-top: 1px solid #dbdbdb;
}

.footer__mid .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__mid-nav {
  width: 50%;
}

.footer__mid-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__mid-item {
  margin-right: 20px;
}

.footer__mid-item:last-child {
  margin-right: 0;
}

.footer__mid-link {
  font-size: 13px;
  text-transform: uppercase;
  color: #1f1f1f;
  font-weight: 600;
}

.footer__mid-link:hover {
  color: #c28f15;
}

.footer__mid-social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__mid-social a {
  margin-left: 30px;
}

.footer__mid-social a:first-child {
  margin-left: 0;
}

.footer__mid-social svg {
  fill: #1f1f1f;
  width: 20px;
  height: 20px;
}

.footer__mid-social svg:hover {
  fill: #cba14c;
}

.footer__low {
  padding: 20px 0;
  background: #252525;
}

.footer__low .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__low .doc {
  width: 50%;
  color: #898989;
  font-size: 13px;
}

.footer__low-logo {
  width: 50%;
  text-align: right;
}

.footer__low-img {
  vertical-align: middle;
}

.burger {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 25px;
  height: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  cursor: pointer;
  z-index: 999;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__item {
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: all .2s ease-in-out;
}

.burger__item:nth-child(1) {
  width: 70%;
  margin-right: auto;
}

.burger__item:nth-child(3) {
  width: 90%;
  margin-right: auto;
}

.burger-click {
  cursor: pointer;
  z-index: 999;
}

.burger-click .burger__item:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.burger-click .burger__item:nth-child(1) {
  width: 80%;
  -webkit-transform: rotate(45deg) translate(5px, 2px);
      -ms-transform: rotate(45deg) translate(5px, 2px);
          transform: rotate(45deg) translate(5px, 2px);
}

.burger-click .burger__item:nth-child(3) {
  width: 80%;
  -webkit-transform: rotate(-45deg) translate(7px, -4px);
      -ms-transform: rotate(-45deg) translate(7px, -4px);
          transform: rotate(-45deg) translate(7px, -4px);
}

.burger-click .burger__item {
  background-color: #fff;
}

.body-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all .3s ease-in-out;
  z-index: 10;
}

@media (max-width: 1366px) {
  .title {
    font-size: 4.25rem;
    line-height: 1.2;
  }

  .header__low {
    height: 75px;
  }

  .header__low-logo img {
    max-width: 80%;
  }

  .slider {
    height: 600px;
  }

  .slider__item {
    height: 600px;
  }

  .slider__item-suptitle {
    font-size: 2.1rem;
  }

  .slider__item-subtitle {
    font-size: 5rem;
  }

  .slider__item-btn {
    padding: 8px 35px;
  }

  .about {
    padding: 80px 0;
  }

  .about__left-title {
    margin-bottom: 3rem;
  }

  .about__right {
    text-align: right;
  }

  .about__right img {
    max-width: 80%;
  }

  .benefits {
    padding: 80px 0 60px;
  }

  .benefits__title {
    margin-bottom: 3rem;
  }

  .benefits__text {
    margin-bottom: 6rem;
    font-size: 20px;
  }

  .slider__low-left,
  .slider__low-right {
    width: 50%;
  }

  .slider__low-title {
    font-size: 21px;
  }

  .slider__low-text {
    font-size: 16px;
  }

  .slider__low-link .link {
    padding: 5px 18px;
  }

  .team {
    padding: 80px 60px;
  }

  .team__title {
    margin-bottom: 30px;
  }

  .team__text {
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 1.25;
  }

  .team__wrap {
    justify-content: space-between;
  }

  .team__block {
    width: 28%;
  }

  .team__block-content {
    padding: 18px;
  }

  .team__block-name {
    font-size: 20px;
  }

  .works {
    padding: 70px 0;
  }

  .works__suptitle {
    font-size: 65px;
  }

  .works__subtitle {
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  .works__text {
    font-size: 14px;
  }

  .blog {
    padding: 80px 0;
  }

  .blog__title {
    margin-bottom: 40px;
  }

  .blog__text {
    margin-bottom: 60px;
    font-size: 20px;
  }

  .blog__item {
    width: 48%;
  }

  .blog__item-content {
    padding: 20px 0 40px;
  }

  .blog__item-date {
    margin-bottom: 0;
    font-size: 14px;
  }

  .blog__item-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 21px;
  }

  .blog__item-text {
    margin-bottom: 30px;
    font-size: 15px;
  }

  .blog__link a {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 1.5;
  }

  .partners {
    padding: 60px 0;
  }

  .footer__low-img {
    max-width: 20%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 850px;
  }

  .link {
    font-size: 15px;
  }

  .title {
    font-size: 3.5rem;
    line-height: 1.2;
  }

  .header__low {
    height: 70px;
  }

  .header__low-logo img {
    max-width: 70%;
  }

  .slider__item {
    height: 520px;
  }

  .slider__item-suptitle {
    font-size: 1.8rem;
    font-weight: 300;
  }

  .slider__item-subtitle {
    font-size: 4.2rem;
    line-height: 1.2;
  }

  .slider__item-btn {
    padding: 8px 35px;
    font-size: 12px;
  }

  .about {
    padding: 60px 0;
  }

  .about__left-title {
    margin-bottom: 3rem;
  }

  .about__right {
    text-align: right;
  }

  .about__right img {
    max-width: 80%;
  }

  .benefits {
    padding: 60px 0 40px;
  }

  .benefits__title {
    margin-bottom: 2.5rem;
  }

  .benefits__text {
    margin-bottom: 5rem;
    font-size: 18px;
  }

  .benefits__block:first-child {
    margin-left: 0;
  }

  .benefits__block-icon img {
    max-width: 20%;
  }

  .benefits__block-title {
    font-size: 20px;
    line-height: 1.5;
  }

  .benefits__block-text {
    font-size: 14px;
  }

  .slider__low-right {
    padding: 0;
    padding-right: 20px;
  }

  .slider__low-content {
    padding-left: 50px;
  }

  .slider__low-num {
    max-width: 150px;
    font-size: 60px;
  }

  .slider__low-title {
    font-size: 20px;
  }

  .slider__low-text {
    font-size: 14px;
  }

  .slider__low-link .link {
    padding: 5px 18px;
  }

  .team {
    padding: 60px 40px;
  }

  .team__title {
    margin-bottom: 25px;
  }

  .team__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.4;
  }

  .team__wrap {
    justify-content: space-between;
  }

  .team__block {
    width: 30%;
  }

  .team__block-content {
    padding: 15px;
  }

  .team__block-name {
    font-size: 18px;
  }

  .works {
    padding: 60px 0;
  }

  .works__suptitle {
    font-size: 55px;
  }

  .works__subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
  }

  .works__text {
    font-size: 14px;
  }

  .blog {
    padding: 60px 0;
  }

  .blog__title {
    margin-bottom: 25px;
  }

  .blog__text {
    margin-bottom: 50px;
    font-size: 18px;
  }

  .blog__item-content {
    padding: 15px 0 30px;
  }

  .blog__item-date {
    margin-bottom: 0;
    font-size: 14px;
  }

  .blog__item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
  }

  .blog__item-text {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .partners {
    padding: 60px 0;
  }

  .footer__mid-nav {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .partners__img img {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }

  .title {
    font-size: 3rem;
  }

  .header__mail-text {
    font-size: 14px;
  }

  .header__tel-text {
    font-size: 14px;
  }

  .header__social a {
    margin-left: 15px;
  }

  .slider {
    height: 450px;
  }

  .slider__item {
    height: 450px;
  }

  .slider__item-subtitle {
    font-size: 3.5rem;
  }

  .slider__item-btn {
    padding: 7px 30px;
  }

  .about {
    padding: 40px 0 60px;
  }

  .about__left {
    width: 70%;
  }

  .about__right {
    width: 30%;
  }

  .about__right img {
    max-width: 90%;
  }

  .benefits {
    padding: 40px 0;
  }

  .slider__low {
    position: relative;
  }

  .slider__low-left,
  .slider__low-right {
    width: 100%;
  }

  .slider__low-item {
    display: block;
  }

  .slider__low-right {
    padding: 40px 10px;
    width: 100%;
  }

  .team {
    padding: 40px 0 30px;
  }

  .team__wrap {
    display: block;
  }

  .team__block {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  .team__block-img {
    width: 50%;
  }

  .team__block-img img {
    display: block;
  }

  .team__block-content {
    width: 50%;
  }

  .works {
    padding: 20px 0;
  }

  .works__row {
    display: flex;
    flex-direction: column;
  }

  .works__col {
    padding: 30px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
  }

  .works__col:last-child {
    border-bottom: 0;
  }

  .works__text {
    width: 80%;
    margin: 0 auto;
  }

  .blog {
    padding: 40px 0;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0 15px !important;
  }

  .title {
    font-size: 18px;
  }

  .header__wrap {
    display: block;
  }

  .header__top {
    height: auto;
    display: block;
  }

  .header__top .container {
    display: block;
  }

  .header__top-left {
    display: block;
  }

  .header__mail {
    height: 40px;
    justify-content: center;
    margin-right: 0;
    margin: 0 -15px;
    border-bottom: 1px solid #fff;
  }

  .header__tel {
    height: 40px;
    justify-content: center;
    margin: 0 -15px;
    border-bottom: 1px solid #fff;
  }

  .header__social {
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .header__social a {
    margin-left: 20px;
  }

  .header__social a svg {
    width: 25px;
    height: 25px;
  }

  .header__low {
    height: 60px;
  }

  .header__low-logo img {
    max-width: 60%;
  }

  .burger {
    position: absolute;
    top: 150px;
    right: 25px;
    display: flex;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .slider {
    height: 280px;
  }

  .slider__item {
    height: 280px;
  }

  .slider__item-suptitle {
    margin-bottom: 7px;
    font-size: 1.4rem;
  }

  .slider__item-subtitle {
    width: 100%;
    font-size: 2rem;
    line-height: 1;
  }

  .slider__item-btn {
    padding: 8px 20px;
    font-size: 10px;
    letter-spacing: 1px;
    border: 1px solid #fff;
  }

  .about {
    padding: 35px 0;
  }

  .about .container {
    display: block;
  }

  .about__left {
    padding-right: 0;
    width: 100%;
  }

  .about__left-title {
    margin-bottom: 1.5rem;
  }

  .about__left-text {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .about__left-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
  }

  .about__right {
    display: none;
  }

  .benefits {
    padding: 35px 0;
    text-align: center;
  }

  .benefits__title {
    margin-bottom: 1.5rem;
  }

  .benefits__text {
    margin-bottom: 3rem;
    line-height: 1.5;
    font-size: 14px;
  }

  .benefits__blocks {
    display: block;
  }

  .benefits__block {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .benefits__block:last-child {
    margin-bottom: 10px;
  }

  .benefits__block-icon img {
    max-width: 16%;
  }

  .benefits__block-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .benefits__block-link {
    display: block;
    margin-top: 30px;
  }

  .benefits__block-link .link {
    display: inline-block;
    padding: 8px 16px;
    line-height: 1.2;
    font-size: 12px;
  }

  .slider__low-item {
    display: block;
  }

  .slider__low-left,
  .slider__low-right {
    width: 100%;
  }

  .slider__low-right {
    padding: 0;
    width: 100%;
  }

  .slider__low-content {
    width: calc(100% - 100px);
    padding: 0;
    padding-left: 20px;
    margin: 20px 10px 20px 0;
    border-left: 1px solid #c5c5c5;
  }

  .slider__low-num {
    max-width: 100px;
    padding: 10px;
    font-size: 25px;
    border-right: none;
  }

  .slider__low-title {
    font-size: 18px;
  }

  .slider__low-text {
    margin-bottom: 20px;
  }

  .slider__low-link {
    display: block;
    margin-top: 30px;
  }

  .slider__low-link .link {
    display: inline-block;
    padding: 8px 20px;
    line-height: 1.2;
  }

  .team {
    padding: 35px 0;
  }

  .team__title {
    margin-bottom: 15px;
  }

  .team__text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.5;
  }

  .team__wrap {
    display: block;
  }

  .team__block {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .team__block:last-child {
    margin-bottom: 10px;
  }

  .team__block-content {
    width: 50%;
  }

  .team__block-name {
    line-height: 1.5;
  }

  .team__block-job {
    font-size: 14px !important;
  }

  .works {
    padding: 20px 0;
  }

  .works__col {
    padding: 10px 10px 20px 10px;
  }

  .works__suptitle {
    font-size: 40px;
    line-height: 1.5;
  }

  .works__subtitle {
    font-size: 18px;
  }

  .works__text {
    width: 100%;
  }

  .blog {
    padding: 35px 0;
  }

  .blog__title {
    margin-bottom: 15px;
  }

  .blog__text {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .blog__wrap {
    display: block;
  }

  .blog__item {
    width: 100%;
  }

  .blog__item-img img {
    display: block;
  }

  .blog__item-content {
    padding: 10px 0 35px;
  }

  .blog__item-text {
    margin-bottom: 0;
  }

  .blog__link a {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.2;
  }

  .partners {
    padding: 40px 0;
  }

  .partners .container {
    display: flex;
    flex-wrap: wrap;
  }

  .partners__img {
    width: 48%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .partners__img a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer__top {
    padding: 35px 0;
  }

  .footer__top .container {
    display: block;
  }

  .footer__top-col {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .footer__top-col:last-child {
    margin-bottom: 0;
  }

  .footer__top-col-title {
    margin-bottom: 10px;
  }

  .footer__top-col-text,
  .footer__top-col-link {
    font-size: 12px;
  }

  .footer__mid .container {
    display: block;
  }

  .footer__mid-nav {
    width: 100%;
  }

  .footer__mid-list {
    display: block;
  }

  .footer__mid-social {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }

  .footer__mid-social a svg {
    width: 30px;
    height: 30px;
  }

  .footer__low-img {
    max-width: 70%;
  }

  .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: all .15s ease-in-out;
    transition-delay: .2s;
    z-index: 999;
  }

  .nav__list {
    display: block;
  }

  .nav__item {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .nav__link {
    font-size: 25px;
    color: #fff;
  }

  .nav-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}